page-consumption {
    ion-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}
